<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Table Manager</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Random Table Manager</h1>
    <div>
        <label for="tableName">Select Table:</label>
        <select id="tableName" name="tableName">
            <!-- Table options will be populated here -->
        </select>
        <button onclick="formattedDrawFromTable()">Formatted Draw</button>
    </div>
    <div style="display: flex;">
        <div style="flex: 1; padding-right: 20px;">
            <form id="addTableForm">
                <textarea class="full-width-textarea" id="tableJson" name="tableJson" rows="20" placeholder="Enter table TSV here"></textarea>
                <button type="submit">Add TSV Table</button>
            </form>
        </div>
        <div style="flex: 1;">
            <div id="result" class="text-display"></div>
            <div id="entries" class="text-display" >
                <h3>Entries:</h3>
                <table id="entryTable" border="1" style="width: 100%; margin-top: 10px;">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Target</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody id="entryTableBody">
                        <!-- Entries will be populated here -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="static/app.js"></script>
</body>
</html>